In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
pd.set_option('display.max_columns',False)
sns.set(rc={'figure.figsize':(20.7,8.27)})
sns.set_style("whitegrid")
sns.color_palette("dark")
plt.style.use("fivethirtyeight")

In [2]:
df = pd.read_csv('../data/data.csv')
df = df.drop(['Unnamed: 0','Unnamed: 0.1'], axis = 1)
df = df.drop_duplicates(subset = ['deskripsi'])

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 25525 entries, 0 to 26372
Data columns (total 15 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   kamar_mandi    25525 non-null  object
 1   kamar          25525 non-null  object
 2   lb             24790 non-null  float64
 3   lt             21072 non-null  float64
 4   tipe_property  25525 non-null  object
 5   price          25512 non-null  float64
 6   sertifikat     25525 non-null  int64
 7   deskripsi      25524 non-null  object
 8   lokasi         25156 non-null  object
 9   ada_garasi     25525 non-null  float64
 10  pool           25525 non-null  int64
 11  taman          25525 non-null  int64
 12  electricity    24715 non-null  float64
 13  floors_total   25341 non-null  float64
 14  gym            25525 non-null  int64
dtypes: float64(6), int64(4), object(5)
memory usage: 3.1+ MB

Benerin tipe data

In [4]:
df = df[df['tipe_property']=='Rumah']

In [5]:
df = df.dropna(subset = ['price','lokasi'])

In [6]:
df[['pool','taman','gym','sertifikat']] = df[['pool','taman','gym','sertifikat']].astype('bool')

In [7]:
df['ada_garasi'] = df['ada_garasi'].apply(lambda x: True if x > 0 else False)

In [8]:
df = df[df['kamar'] != '>10']
df = df[df['kamar_mandi'] != '>10']
df[['kamar','kamar_mandi']] = df[['kamar','kamar_mandi']].astype('float')
df[['kamar','kamar_mandi']] = df[['kamar','kamar_mandi']].astype('int')

In [9]:
df = df.reset_index()

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18202 entries, 0 to 18201
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   index          18202 non-null  int64
 1   kamar_mandi    18202 non-null  int64
 2   kamar          18202 non-null  int64
 3   lb             17944 non-null  float64
 4   lt             17802 non-null  float64
 5   tipe_property  18202 non-null  object
 6   price          18202 non-null  float64
 7   sertifikat     18202 non-null  bool
 8   deskripsi      18202 non-null  object
 9   lokasi         18202 non-null  object
 10  ada_garasi     18202 non-null  bool
 11  pool           18202 non-null  bool
 12  taman          18202 non-null  bool
 13  electricity    17661 non-null  float64
 14  floors_total   18052 non-null  float64
 15  gym            18202 non-null  bool
dtypes: bool(5), float64(5), int64(3), object(3)
memory usage: 1.6+ MB

In [11]:
df['floors_total'].describe()

count    18052.000000
mean         3.376413
std         60.071737
min         -1.000000
25%          2.000000
50%          2.000000
75%          2.000000
max       3500.000000
Name: floors_total, dtype: float64

In [12]:
import re

In [13]:
def listrik(df):    
    df['electricity_desc'] = np.zeros(len(df))
    for i in range(len(df)):
        text = str(df['deskripsi'].iloc[i]).lower().replace('.','').replace(',','')
        try:
            cari = re.search('listrik',text)
            S = cari.span()
            txt = text[S[1]:S[1]+13]
            clean = re.findall(r'[^\D]+',txt)
            clean = [int(i) for i in clean]
            if re.search(r'x',txt):
                clean = clean[0]*clean[1]
            else:
                clean = sum(clean)
        except:
            try:
                cari = re.search('watt',text)
                S = cari.span()
                txt = text[S[1]-10:S[1]]
                clean = ''.join(re.findall(r'[^\D]+',txt))
                if re.search(r'x',txt):
                    clean = clean[0]*clean[1]
                else:
                    clean = sum(clean)
            except:
                try:
                    cari = re.search('va',text)
                    S = cari.span()
                    txt = text[S[1]-8:S[1]]
                    clean = ''.join(re.findall(r'[^\D]+',txt))
                    if re.search(r'x',txt):
                        clean = clean[0]*clean[1]
                    else:
                        clean = sum(clean)
                except:
                    clean = 0
        df['electricity_desc'].iloc[i] = clean
    return df

In [14]:
df = listrik(df)

/Users/rhzphlv/opt/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

In [15]:
df['electricity_desc'] = df['electricity_desc'].astype('int')

In [16]:
for i in range(len(df)):
    if df['electricity_desc'].iloc[i] % 100 != 0:
        df['electricity_desc'].iloc[i] = 0

In [17]:
df[df['electricity_desc']%100!=0]

Empty DataFrame
Columns: [index, kamar_mandi, kamar, lb, lt, tipe_property, price, sertifikat, deskripsi, lokasi, ada_garasi, pool, taman, electricity, floors_total, gym, electricity_desc]
Index: []

In [27]:
df['listrik'] = np.zeros(len(df))

for i in range(len(df)):
    if df['electricity'].iloc[i] != df['electricity_desc'].iloc[i]:
        if df['electricity_desc'].iloc[i] == 0:
            df['listrik'].iloc[i] = df['electricity'].iloc[i]
        else:
            df['listrik'].iloc[i] = df['electricity_desc'].iloc[i]

/Users/rhzphlv/opt/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

In [28]:
df['listrik'].describe()

count     17787.000000
mean       4175.066903
std        9867.811964
min          -1.000000
25%           0.000000
50%        2200.000000
75%        4400.000000
max      750000.000000
Name: listrik, dtype: float64

In [40]:
df[(df['listrik']>10)&(df['lokasi']=='Jatinegara')]

       index  kamar_mandi  kamar  ...    gym  electricity_desc  listrik
3969    5784            3      3  ...   True                 0   3500.0
4219    6067            7      6  ...  False                 0   2200.0
4321    6178            9      7  ...  False             11000  11000.0
4333    6193            6      7  ...  False                 0   2200.0
4398    6267            4      6  ...  False                 0   1300.0
4458    6336            4      5  ...  False              2200   2200.0
4595    6490            2      5  ...  False              1300   1300.0
4608    6505            3      4  ...  False              2200   2200.0
4654    6555            3      4  ...  False                 0   3300.0
4841    6785            7      7  ...  False              3500   3500.0
4851    6796            4      4  ...  False              2200   2200.0
4875    6822           10      7  ...  False             11000  11000.0
4920    6878            5      5  ...  False                 0   2200.0
4948    6915            5      5  ...  False              3500   3500.0
5012    6996            4      5  ...  False                 0   2200.0
5080    7084            7      8  ...  False                 0   2200.0
5166    7190            5      6  ...  False              3300   3300.0
5200    7230            4      5  ...  False              2200   2200.0
5230    7265            4      5  ...  False                 0   3500.0
5296    7345            6      6  ...  False              3500   3500.0
5368    7432            9     10  ...  False              7700   7700.0
5480    7577            6      6  ...  False              3500   3500.0
5532    7649            4      7  ...  False              3500   3500.0
5596    7729            2      4  ...  False                 0   1300.0
5846    8046            6      7  ...  False              3500   3500.0
5894    8116            8      5  ...  False                 0   2200.0
6026    8279            3      4  ...  False                 0   1300.0
6050    8307            2      2  ...  False                 0   1300.0
6069    8332            7      9  ...  False                 0   1300.0
11173  17488            3      4  ...  False                 0   7700.0
11402  17741            2      2  ...  False                 0   3500.0
11406  17745            2      3  ...  False                 0   2200.0
11447  17786            4      4  ...  False                 0  10000.0
11578  17925            5      6  ...  False                 0   3500.0
11657  18004            3      3  ...  False                 0   3300.0
11707  18056            1      2  ...  False                 0   1300.0
11758  18117            3      4  ...  False                 0   4400.0
11816  18178            2      3  ...  False                 0   5500.0
12252  18772           15     15  ...  False                 0   7700.0

[39 rows x 18 columns]